.advantages {
  margin-top: 56px;
}

.advantages__top {

}

.advantages__top-left {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.advantages__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.advantages__sub-title {
  font-weight: 600;
  color: #4E4E4E;
  margin-bottom: 24px;
}

.advantages__top-description {
  color: #4E4E4E;
  margin-bottom: 24px;
}

.advantages__top-description b {

}

.advantages__top-right {
  display: flex;
  flex-flow: column;
}

.advantages__top-right a {

}
