.advantages {
  margin-top: 56px;
}

.advantages__top {
  margin-bottom: 16px;

  @include media(1360px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
}

.advantages__top-left {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.875rem;
  letter-spacing: 1px;

  @include media(1360px) {
    max-width: 560px;
    text-align: left;
  }
}

.advantages__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.advantages__sub-title {
  font-weight: 600;
  color: #4E4E4E;
  margin-bottom: 24px;
}

.advantages__top-description {
  color: #4E4E4E;
  margin-bottom: 24px;
}

.advantages__top-description b {

}

.advantages__top-right {
  display: flex;
  flex-flow: column;
  align-items: center;

  @include tablet {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  @include media(1360px) {
    max-width: 592px;
    justify-content: space-between;
    align-items: stretch;
  }

  @include media(1460px) {
    max-width: 700px;
  }
}

.advantages__top-right a {
  color: #1F1F1F;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  min-height: 140px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  max-width: 280px;

  @include tablet {
    margin: 16px;
    margin-bottom: 32px;
  }

  @include media(1360px) {
    margin: 0;
    margin-bottom: 32px;
  }

  @include media(1460px) {
    max-width: 334px;
  }
}

.advantages__top-right a:nth-child(2n) {
  @include media(1360px) {
    margin-left: 0;
  }
}

.advantages__expert:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='41' viewBox='0 0 65 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.0531 27.2348L59.0168 21.0139L65 17.6659L32.4108 0.479004L0 18.0096L12.9943 25.4703L13.0203 29.9035L13.0229 30.2575L13.1416 30.2007C13.0047 30.3866 12.9169 30.5777 12.9195 30.7689C12.9298 32.9493 21.7314 34.6748 32.5945 34.6156C43.4524 34.5587 52.241 32.7324 52.2333 30.5571C52.2333 30.3659 52.1326 30.1801 51.9983 29.9889L52.117 30.0457V29.6917L52.0937 25.2405L57.7281 21.7349L57.759 27.2427C57.139 27.5087 56.7077 28.1184 56.7127 28.8315C56.718 29.7668 57.4774 30.5235 58.4203 30.5159C59.3685 30.5106 60.1203 29.7459 60.115 28.8133C60.1097 28.1002 59.6758 27.4957 59.0531 27.2348ZM32.5866 33.1145C22.9482 33.1687 15.1308 32.1095 15.1231 30.7586C15.1155 29.4074 22.9223 28.2734 32.5609 28.2242C42.202 28.17 50.0167 29.2239 50.022 30.5724C50.0294 31.9186 42.2276 33.063 32.5866 33.1145ZM51.6492 21.6289C50.3446 20.2571 45.6687 16.6352 32.4988 16.7103C19.3107 16.7801 14.6943 20.4459 13.4052 21.8383L13.3976 20.5261C13.3976 20.5261 17.1382 14.8348 32.4888 14.7547C47.8314 14.6719 51.6418 20.3193 51.6418 20.3193L51.6492 21.6289ZM57.0486 30.8876L56.3846 40.521C58.4383 37.2944 60.1538 38.4956 60.1538 38.4956L60.1126 30.872C57.906 31.7377 57.0486 30.8876 57.0486 30.8876Z' fill='%23016BC1'/%3E%3C/svg%3E%0A");
}

.advantages__expert:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='41' viewBox='0 0 65 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.0531 27.2348L59.0168 21.0139L65 17.6659L32.4108 0.479004L0 18.0096L12.9943 25.4703L13.0203 29.9035L13.0229 30.2575L13.1416 30.2007C13.0047 30.3866 12.9169 30.5777 12.9195 30.7689C12.9298 32.9493 21.7314 34.6748 32.5945 34.6156C43.4524 34.5587 52.241 32.7324 52.2333 30.5571C52.2333 30.3659 52.1326 30.1801 51.9983 29.9889L52.117 30.0457V29.6917L52.0937 25.2405L57.7281 21.7349L57.759 27.2427C57.139 27.5087 56.7077 28.1184 56.7127 28.8315C56.718 29.7668 57.4774 30.5235 58.4203 30.5159C59.3685 30.5106 60.1203 29.7459 60.115 28.8133C60.1097 28.1002 59.6758 27.4957 59.0531 27.2348ZM32.5866 33.1145C22.9482 33.1687 15.1308 32.1095 15.1231 30.7586C15.1155 29.4074 22.9223 28.2734 32.5609 28.2242C42.202 28.17 50.0167 29.2239 50.022 30.5724C50.0294 31.9186 42.2276 33.063 32.5866 33.1145ZM51.6492 21.6289C50.3446 20.2571 45.6687 16.6352 32.4988 16.7103C19.3107 16.7801 14.6943 20.4459 13.4052 21.8383L13.3976 20.5261C13.3976 20.5261 17.1382 14.8348 32.4888 14.7547C47.8314 14.6719 51.6418 20.3193 51.6418 20.3193L51.6492 21.6289ZM57.0486 30.8876L56.3846 40.521C58.4383 37.2944 60.1538 38.4956 60.1538 38.4956L60.1126 30.872C57.906 31.7377 57.0486 30.8876 57.0486 30.8876Z' fill='white'/%3E%3C/svg%3E%0A");
}

.advantages__schedule:before {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 43.5119L55.6325 41.7803L47.7746 4.87766L47.3694 2.97959L45.4846 3.44343L43.0488 4.04138C42.6301 2.94776 41.9713 1.97693 41.0245 1.28847C40.1261 0.634563 39.0358 0.58765 38.1761 1.32618C37.1851 2.17725 37.0849 3.82733 37.1161 5.14073C37.1197 5.26427 37.1235 5.38103 37.1271 5.49763L35.5105 5.89541C35.462 5.7696 35.393 5.65466 35.3371 5.53202C34.9164 4.60388 34.3267 3.77257 33.4983 3.17056C32.5998 2.51695 31.5095 2.46973 30.6499 3.20812C29.7166 4.01136 29.5742 5.52373 29.5872 6.79534C29.5899 6.95976 29.5917 7.12011 29.5971 7.27488C29.5991 7.30067 29.5991 7.32405 29.6008 7.34924L27.9727 7.75019C27.9575 7.71338 27.9369 7.67944 27.9222 7.64263C27.8597 7.493 27.7849 7.35105 27.7142 7.2073C27.2993 6.36453 26.7415 5.60895 25.9749 5.05249C25.0757 4.39888 23.985 4.35167 23.1261 5.0902C22.2485 5.84517 22.0679 7.22992 22.0602 8.44965C22.0593 8.61452 22.0625 8.77336 22.067 8.93054C22.0699 9.02376 22.0717 9.11201 22.0753 9.20146L20.4349 9.60466C20.3953 9.50586 20.3421 9.41596 20.299 9.31897C20.2329 9.17114 20.1662 9.02452 20.0909 8.88348C19.6855 8.12443 19.1549 7.44699 18.4505 6.93533C17.5513 6.28187 16.4606 6.2345 15.6017 6.97304C14.7787 7.6811 14.5715 8.9414 14.5435 10.1025C14.5399 10.2669 14.5379 10.4257 14.5399 10.5847C14.5417 10.7453 14.5444 10.9016 14.55 11.0531L14.1247 11.1578L12.8844 11.4306C12.8233 11.2799 12.7471 11.1398 12.6768 10.9947C12.606 10.85 12.5486 10.6975 12.4688 10.5583C12.0766 9.88101 11.5696 9.28291 10.927 8.81635C10.0278 8.16274 8.93707 8.11553 8.07831 8.85406C7.309 9.51536 7.07851 10.6589 7.02753 11.7528C7.02014 11.9164 7.0138 12.0781 7.01229 12.2383C7.01139 12.4018 7.01456 12.5626 7.01923 12.7187L3.37921 13.5182L0 47.7176L11.7643 44.2696L11.864 44.7269L11.961 45.1872L12.101 45.8521L2.57521 48.8714L0.0441973 49.6749L2.51593 50.645L13.8701 55.0997L14.0649 55.1761L14.0668 55.1853L14.0801 55.1816L14.1637 55.2148L14.4678 55.1302L37.4077 48.707L38.3042 48.4563L38.3005 48.438L54.2974 43.9849L56 43.5119ZM39.4373 2.72572C39.5274 2.62329 39.5328 2.63566 39.5714 2.64305C39.8102 2.68891 40.0105 2.85378 40.2502 3.0891C40.5946 3.4294 40.8647 3.83397 41.086 4.27021C41.1246 4.34654 41.1651 4.41909 41.1999 4.49708L38.9891 5.04042C38.9855 4.93981 38.9855 4.83557 38.9855 4.73134C38.9836 3.9729 39.0625 3.15834 39.4373 2.72572ZM31.9606 4.60674C32.0487 4.50432 32.0304 4.51669 32.0689 4.52408C32.3078 4.57009 32.497 4.73481 32.7358 4.97013C33.0261 5.25583 33.2483 5.59281 33.4503 5.94835C33.5257 6.08064 33.6046 6.20961 33.6672 6.34975L32.5614 6.6442L31.6537 6.89083C31.6537 6.88208 31.6537 6.87288 31.6537 6.86428C31.6537 6.7071 31.5555 6.54554 31.5583 6.38293C31.5749 5.69433 31.6225 4.99622 31.9606 4.60674ZM23.9483 8.03317C23.98 7.42376 24.0894 6.83411 24.3883 6.48777C24.4779 6.38535 24.4834 6.39772 24.522 6.40511C24.7608 6.45112 24.9611 6.61584 25.2003 6.85115C25.4355 7.0827 25.6302 7.34773 25.8061 7.62589C25.8935 7.76406 25.9752 7.90646 26.0485 8.05384C26.0737 8.10482 26.106 8.15083 26.1294 8.20272L23.9387 8.74138C23.9369 8.66792 23.9369 8.5931 23.9369 8.51859C23.936 8.35703 23.9397 8.19503 23.9483 8.03317ZM16.8873 8.36895C16.9768 8.26653 16.9713 8.27889 17.0099 8.28629C17.2487 8.33229 17.4435 8.49702 17.6814 8.73218C17.86 8.90822 18.0134 9.10281 18.1571 9.30675C18.2521 9.4413 18.3294 9.58837 18.4102 9.73303C18.4713 9.84089 18.5403 9.94376 18.5935 10.0563C18.5985 10.0669 18.6023 10.0779 18.6059 10.0893L16.6054 10.5909C16.6054 10.4526 16.5067 10.3121 16.5094 10.1693C16.5122 10.0058 16.4746 9.8427 16.4888 9.68205C16.5364 9.15847 16.627 8.67034 16.8873 8.36895ZM8.8986 11.8198C8.9069 11.6536 8.92017 11.4887 8.94174 11.329C9.00102 10.8963 9.11763 10.506 9.33952 10.2501C9.42912 10.1477 9.43455 10.1601 9.47317 10.1675C9.71195 10.2135 9.91227 10.3782 10.1515 10.6134C10.2699 10.73 10.366 10.8656 10.4692 10.9941C10.5754 11.1277 10.6792 11.2641 10.77 11.4097C10.8569 11.5493 10.9395 11.6902 11.013 11.8378L8.88895 12.3043C8.88714 12.1435 8.88985 11.9829 8.8986 11.8198ZM37.8115 46.6256L37.3587 46.7514L36.9058 46.8772L15.4971 52.8402L14.1006 46.2084L14.0029 45.7472L13.9051 45.2845L13.7733 44.6598L13.6769 44.1979L13.5799 43.7368L7.46799 14.732L11.5829 13.717C11.7417 14.7807 11.6853 15.8861 11.4672 16.8349C11.1952 18.0157 13.0083 18.5167 13.2812 17.3354C13.5674 16.0941 13.6184 14.6557 13.3906 13.2733L19.112 11.8661C19.2654 12.9205 19.209 14.0131 18.9925 14.9538C18.7207 16.1346 20.5338 16.6355 20.8065 15.4543C21.0907 14.2213 21.1428 12.7943 20.9204 11.422L26.64 10.0157C26.7878 11.0611 26.7312 12.1426 26.5169 13.0735C26.2451 14.2543 28.0582 14.7552 28.331 13.5741C28.6133 12.3493 28.6663 10.9347 28.4494 9.57208L34.1685 8.16576C34.3118 9.20146 34.2548 10.2706 34.0418 11.1932C33.7698 12.3739 35.584 12.875 35.8567 11.6937C36.1377 10.4785 36.191 9.07505 35.9797 7.72062L40.7926 6.53755L41.2758 6.41914L41.6965 6.31536C41.7093 6.41461 41.7221 6.51206 41.7313 6.61207C41.8214 7.54398 41.757 8.48736 41.5659 9.31293C41.294 10.4937 43.1081 10.9947 43.3808 9.81358C43.6602 8.60668 43.7133 7.21559 43.5095 5.87082L45.9381 5.27332L53.7971 42.1753L37.8115 46.6256ZM21.3196 36.2288L15.5802 37.6047L14.2029 31.8649L19.9422 30.4881L21.3196 36.2288ZM22.5278 35.8651L21.1511 30.1252L26.8904 28.7485L28.2671 34.4873L22.5278 35.8651ZM28.0959 28.383L33.8344 27.0051L35.2122 32.7442L29.4731 34.1218L28.0959 28.383ZM40.7819 25.2664L42.1597 31.0052L39.5989 31.6198L39.1177 31.7355L38.6345 31.8513L36.4191 32.3823L35.0431 26.6424L39.1617 25.6536L39.6449 25.5383L40.1261 25.4226L40.7819 25.2664ZM41.9899 24.9031L47.7297 23.5262L49.1066 29.2655L43.3668 30.6425L41.9899 24.9031ZM27.6721 27.1934L26.2947 21.4541L32.034 20.0773L33.4118 25.8166L27.6721 27.1934ZM34.6151 25.4515L33.2391 19.7121L38.9799 18.3352L39.575 20.8184L39.9223 22.2706L40.2713 23.7228L40.3558 24.0745L40.2383 24.1026L39.7571 24.2183L39.2759 24.334L34.6151 25.4515ZM45.9257 16.5942L47.3026 22.3335L41.5627 23.7103L40.6094 19.7396L40.2621 18.287L40.1849 17.9709L40.2915 17.9457L40.7727 17.83L45.9257 16.5942ZM23.0538 42.8743L23.1228 43.1609L19.1346 44.1171L17.3834 44.5367L17.3035 44.2034L17.1726 43.6597L17.0623 43.2033L16.9525 42.7459L16.0059 38.798L21.7452 37.4212L22.6238 41.0842L22.7339 41.5406L22.8437 41.9989L22.9434 42.4169L23.0538 42.8743ZM30.0077 41.164L30.0684 41.4186L26.5063 42.2736L24.3281 42.7954L24.2556 42.4941L24.1458 42.035L24.0526 41.6435L23.9423 41.1862L23.8325 40.7297L22.9529 37.0557L28.6933 35.6799L29.5042 39.0654L29.6145 39.5228L29.7246 39.9793L29.7871 40.2457L29.8972 40.7039L30.0077 41.164ZM36.6055 37.9638L37.0178 39.677L35.9901 39.9241L35.5336 40.0334L35.0763 40.1435L31.2772 41.0546L31.2128 40.7828L31.1027 40.3235L30.9926 39.867L30.9356 39.6263L30.8255 39.1689L30.717 38.7116L29.9023 35.3158L35.6412 33.939L36.388 37.0499L36.4974 37.5074L36.6055 37.9638Z' fill='%23016BC1'/%3E%3C/svg%3E");
}

.advantages__schedule:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 43.5119L55.6325 41.7803L47.7746 4.87766L47.3694 2.97959L45.4846 3.44343L43.0488 4.04138C42.6301 2.94776 41.9713 1.97693 41.0245 1.28847C40.1261 0.634563 39.0358 0.58765 38.1761 1.32618C37.1851 2.17725 37.0849 3.82733 37.1161 5.14073C37.1197 5.26427 37.1235 5.38103 37.1271 5.49763L35.5105 5.89541C35.462 5.7696 35.393 5.65466 35.3371 5.53202C34.9164 4.60388 34.3267 3.77257 33.4983 3.17056C32.5998 2.51695 31.5095 2.46973 30.6499 3.20812C29.7166 4.01136 29.5742 5.52373 29.5872 6.79534C29.5899 6.95976 29.5917 7.12011 29.5971 7.27488C29.5991 7.30067 29.5991 7.32405 29.6008 7.34924L27.9727 7.75019C27.9575 7.71338 27.9369 7.67944 27.9222 7.64263C27.8597 7.493 27.7849 7.35105 27.7142 7.2073C27.2993 6.36453 26.7415 5.60895 25.9749 5.05249C25.0757 4.39888 23.985 4.35167 23.1261 5.0902C22.2485 5.84517 22.0679 7.22992 22.0602 8.44965C22.0593 8.61452 22.0625 8.77336 22.067 8.93054C22.0699 9.02376 22.0717 9.11201 22.0753 9.20146L20.4349 9.60466C20.3953 9.50586 20.3421 9.41596 20.299 9.31897C20.2329 9.17114 20.1662 9.02452 20.0909 8.88348C19.6855 8.12443 19.1549 7.44699 18.4505 6.93533C17.5513 6.28187 16.4606 6.2345 15.6017 6.97304C14.7787 7.6811 14.5715 8.9414 14.5435 10.1025C14.5399 10.2669 14.5379 10.4257 14.5399 10.5847C14.5417 10.7453 14.5444 10.9016 14.55 11.0531L14.1247 11.1578L12.8844 11.4306C12.8233 11.2799 12.7471 11.1398 12.6768 10.9947C12.606 10.85 12.5486 10.6975 12.4688 10.5583C12.0766 9.88101 11.5696 9.28291 10.927 8.81635C10.0278 8.16274 8.93707 8.11553 8.07831 8.85406C7.309 9.51536 7.07851 10.6589 7.02753 11.7528C7.02014 11.9164 7.0138 12.0781 7.01229 12.2383C7.01139 12.4018 7.01456 12.5626 7.01923 12.7187L3.37921 13.5182L0 47.7176L11.7643 44.2696L11.864 44.7269L11.961 45.1872L12.101 45.8521L2.57521 48.8714L0.0441973 49.6749L2.51593 50.645L13.8701 55.0997L14.0649 55.1761L14.0668 55.1853L14.0801 55.1816L14.1637 55.2148L14.4678 55.1302L37.4077 48.707L38.3042 48.4563L38.3005 48.438L54.2974 43.9849L56 43.5119ZM39.4373 2.72572C39.5274 2.62329 39.5328 2.63566 39.5714 2.64305C39.8102 2.68891 40.0105 2.85378 40.2502 3.0891C40.5946 3.4294 40.8647 3.83397 41.086 4.27021C41.1246 4.34654 41.1651 4.41909 41.1999 4.49708L38.9891 5.04042C38.9855 4.93981 38.9855 4.83557 38.9855 4.73134C38.9836 3.9729 39.0625 3.15834 39.4373 2.72572ZM31.9606 4.60674C32.0487 4.50432 32.0304 4.51669 32.0689 4.52408C32.3078 4.57009 32.497 4.73481 32.7358 4.97013C33.0261 5.25583 33.2483 5.59281 33.4503 5.94835C33.5257 6.08064 33.6046 6.20961 33.6672 6.34975L32.5614 6.6442L31.6537 6.89083C31.6537 6.88208 31.6537 6.87288 31.6537 6.86428C31.6537 6.7071 31.5555 6.54554 31.5583 6.38293C31.5749 5.69433 31.6225 4.99622 31.9606 4.60674ZM23.9483 8.03317C23.98 7.42376 24.0894 6.83411 24.3883 6.48777C24.4779 6.38535 24.4834 6.39772 24.522 6.40511C24.7608 6.45112 24.9611 6.61584 25.2003 6.85115C25.4355 7.0827 25.6302 7.34773 25.8061 7.62589C25.8935 7.76406 25.9752 7.90646 26.0485 8.05384C26.0737 8.10482 26.106 8.15083 26.1294 8.20272L23.9387 8.74138C23.9369 8.66792 23.9369 8.5931 23.9369 8.51859C23.936 8.35703 23.9397 8.19503 23.9483 8.03317ZM16.8873 8.36895C16.9768 8.26653 16.9713 8.27889 17.0099 8.28629C17.2487 8.33229 17.4435 8.49702 17.6814 8.73218C17.86 8.90822 18.0134 9.10281 18.1571 9.30675C18.2521 9.4413 18.3294 9.58837 18.4102 9.73303C18.4713 9.84089 18.5403 9.94376 18.5935 10.0563C18.5985 10.0669 18.6023 10.0779 18.6059 10.0893L16.6054 10.5909C16.6054 10.4526 16.5067 10.3121 16.5094 10.1693C16.5122 10.0058 16.4746 9.8427 16.4888 9.68205C16.5364 9.15847 16.627 8.67034 16.8873 8.36895ZM8.8986 11.8198C8.9069 11.6536 8.92017 11.4887 8.94174 11.329C9.00102 10.8963 9.11763 10.506 9.33952 10.2501C9.42912 10.1477 9.43455 10.1601 9.47317 10.1675C9.71195 10.2135 9.91227 10.3782 10.1515 10.6134C10.2699 10.73 10.366 10.8656 10.4692 10.9941C10.5754 11.1277 10.6792 11.2641 10.77 11.4097C10.8569 11.5493 10.9395 11.6902 11.013 11.8378L8.88895 12.3043C8.88714 12.1435 8.88985 11.9829 8.8986 11.8198ZM37.8115 46.6256L37.3587 46.7514L36.9058 46.8772L15.4971 52.8402L14.1006 46.2084L14.0029 45.7472L13.9051 45.2845L13.7733 44.6598L13.6769 44.1979L13.5799 43.7368L7.46799 14.732L11.5829 13.717C11.7417 14.7807 11.6853 15.8861 11.4672 16.8349C11.1952 18.0157 13.0083 18.5167 13.2812 17.3354C13.5674 16.0941 13.6184 14.6557 13.3906 13.2733L19.112 11.8661C19.2654 12.9205 19.209 14.0131 18.9925 14.9538C18.7207 16.1346 20.5338 16.6355 20.8065 15.4543C21.0907 14.2213 21.1428 12.7943 20.9204 11.422L26.64 10.0157C26.7878 11.0611 26.7312 12.1426 26.5169 13.0735C26.2451 14.2543 28.0582 14.7552 28.331 13.5741C28.6133 12.3493 28.6663 10.9347 28.4494 9.57208L34.1685 8.16576C34.3118 9.20146 34.2548 10.2706 34.0418 11.1932C33.7698 12.3739 35.584 12.875 35.8567 11.6937C36.1377 10.4785 36.191 9.07505 35.9797 7.72062L40.7926 6.53755L41.2758 6.41914L41.6965 6.31536C41.7093 6.41461 41.7221 6.51206 41.7313 6.61207C41.8214 7.54398 41.757 8.48736 41.5659 9.31293C41.294 10.4937 43.1081 10.9947 43.3808 9.81358C43.6602 8.60668 43.7133 7.21559 43.5095 5.87082L45.9381 5.27332L53.7971 42.1753L37.8115 46.6256ZM21.3196 36.2288L15.5802 37.6047L14.2029 31.8649L19.9422 30.4881L21.3196 36.2288ZM22.5278 35.8651L21.1511 30.1252L26.8904 28.7485L28.2671 34.4873L22.5278 35.8651ZM28.0959 28.383L33.8344 27.0051L35.2122 32.7442L29.4731 34.1218L28.0959 28.383ZM40.7819 25.2664L42.1597 31.0052L39.5989 31.6198L39.1177 31.7355L38.6345 31.8513L36.4191 32.3823L35.0431 26.6424L39.1617 25.6536L39.6449 25.5383L40.1261 25.4226L40.7819 25.2664ZM41.9899 24.9031L47.7297 23.5262L49.1066 29.2655L43.3668 30.6425L41.9899 24.9031ZM27.6721 27.1934L26.2947 21.4541L32.034 20.0773L33.4118 25.8166L27.6721 27.1934ZM34.6151 25.4515L33.2391 19.7121L38.9799 18.3352L39.575 20.8184L39.9223 22.2706L40.2713 23.7228L40.3558 24.0745L40.2383 24.1026L39.7571 24.2183L39.2759 24.334L34.6151 25.4515ZM45.9257 16.5942L47.3026 22.3335L41.5627 23.7103L40.6094 19.7396L40.2621 18.287L40.1849 17.9709L40.2915 17.9457L40.7727 17.83L45.9257 16.5942ZM23.0538 42.8743L23.1228 43.1609L19.1346 44.1171L17.3834 44.5367L17.3035 44.2034L17.1726 43.6597L17.0623 43.2033L16.9525 42.7459L16.0059 38.798L21.7452 37.4212L22.6238 41.0842L22.7339 41.5406L22.8437 41.9989L22.9434 42.4169L23.0538 42.8743ZM30.0077 41.164L30.0684 41.4186L26.5063 42.2736L24.3281 42.7954L24.2556 42.4941L24.1458 42.035L24.0526 41.6435L23.9423 41.1862L23.8325 40.7297L22.9529 37.0557L28.6933 35.6799L29.5042 39.0654L29.6145 39.5228L29.7246 39.9793L29.7871 40.2457L29.8972 40.7039L30.0077 41.164ZM36.6055 37.9638L37.0178 39.677L35.9901 39.9241L35.5336 40.0334L35.0763 40.1435L31.2772 41.0546L31.2128 40.7828L31.1027 40.3235L30.9926 39.867L30.9356 39.6263L30.8255 39.1689L30.717 38.7116L29.9023 35.3158L35.6412 33.939L36.388 37.0499L36.4974 37.5074L36.6055 37.9638Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.advantages__exams:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0321 26.6746L25.8042 29.3515H28.2599L27.0321 26.6746Z' fill='%23016BC1'/%3E%3Cpath d='M20.9506 12.0636V1.12134L10.0083 12.0636H20.9506Z' fill='%23016BC1'/%3E%3Cpath d='M54.2814 0H24.7792V13.9777C24.7792 15.035 23.9222 15.892 22.865 15.892H8.88672V63.0858C8.88672 64.1431 9.74365 65 10.8009 65H54.2814C55.3387 65 56.1956 64.1431 56.1956 63.0858V1.91422C56.1956 0.856934 55.3387 0 54.2814 0ZM38.1355 27.3306C37.0782 27.3306 36.2213 26.4737 36.2213 25.4164C36.2213 24.3596 37.0782 23.5022 38.1355 23.5022H39.4859V22.1518C39.4859 21.0946 40.3428 20.2376 41.4001 20.2376C42.4574 20.2376 43.3143 21.0946 43.3143 22.1518V23.5022H44.6647C45.722 23.5022 46.5789 24.3596 46.5789 25.4164C46.5789 26.4737 45.722 27.3306 44.6647 27.3306H43.3143V28.6815C43.3143 29.7383 42.4574 30.5957 41.4001 30.5957C40.3428 30.5957 39.4859 29.7383 39.4859 28.6815V27.3306H38.1355ZM18.6775 35.7046L25.2919 21.2855L25.2934 21.286C25.4779 20.8838 25.8002 20.5426 26.2337 20.3437C27.1947 19.9029 28.3309 20.3244 28.7717 21.2855L35.3862 35.7046C35.8271 36.6656 35.4055 37.8018 34.4445 38.2426C34.1861 38.3612 33.9148 38.4172 33.6475 38.4172C32.9225 38.4172 32.2287 38.0031 31.9064 37.3009L30.0165 33.1799H24.0477L22.1573 37.3009C21.8354 38.0031 21.1417 38.4172 20.4161 38.4172C20.1493 38.4172 19.8781 38.3612 19.6192 38.2426C18.6581 37.8018 18.2366 36.6656 18.6775 35.7046ZM20.4176 42.2169H44.6647C45.722 42.2169 46.5789 43.0738 46.5789 44.1311C46.5789 45.1884 45.722 46.0453 44.6647 46.0453H20.4176C19.3604 46.0453 18.5034 45.1884 18.5034 44.1311C18.5034 43.0738 19.3604 42.2169 20.4176 42.2169ZM20.4176 48.0587H36.4073C37.4641 48.0587 38.3215 48.9156 38.3215 49.9729C38.3215 51.0302 37.4641 51.8871 36.4073 51.8871H20.4176C19.3604 51.8871 18.5034 51.0302 18.5034 49.9729C18.5034 48.9156 19.3604 48.0587 20.4176 48.0587Z' fill='%23016BC1'/%3E%3C/svg%3E%0A");
}

.advantages__exams:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.0321 26.6746L25.8042 29.3515H28.2599L27.0321 26.6746Z' fill='%23ffffff'/%3E%3Cpath d='M20.9506 12.0636V1.12134L10.0083 12.0636H20.9506Z' fill='%23ffffff'/%3E%3Cpath d='M54.2814 0H24.7792V13.9777C24.7792 15.035 23.9222 15.892 22.865 15.892H8.88672V63.0858C8.88672 64.1431 9.74365 65 10.8009 65H54.2814C55.3387 65 56.1956 64.1431 56.1956 63.0858V1.91422C56.1956 0.856934 55.3387 0 54.2814 0ZM38.1355 27.3306C37.0782 27.3306 36.2213 26.4737 36.2213 25.4164C36.2213 24.3596 37.0782 23.5022 38.1355 23.5022H39.4859V22.1518C39.4859 21.0946 40.3428 20.2376 41.4001 20.2376C42.4574 20.2376 43.3143 21.0946 43.3143 22.1518V23.5022H44.6647C45.722 23.5022 46.5789 24.3596 46.5789 25.4164C46.5789 26.4737 45.722 27.3306 44.6647 27.3306H43.3143V28.6815C43.3143 29.7383 42.4574 30.5957 41.4001 30.5957C40.3428 30.5957 39.4859 29.7383 39.4859 28.6815V27.3306H38.1355ZM18.6775 35.7046L25.2919 21.2855L25.2934 21.286C25.4779 20.8838 25.8002 20.5426 26.2337 20.3437C27.1947 19.9029 28.3309 20.3244 28.7717 21.2855L35.3862 35.7046C35.8271 36.6656 35.4055 37.8018 34.4445 38.2426C34.1861 38.3612 33.9148 38.4172 33.6475 38.4172C32.9225 38.4172 32.2287 38.0031 31.9064 37.3009L30.0165 33.1799H24.0477L22.1573 37.3009C21.8354 38.0031 21.1417 38.4172 20.4161 38.4172C20.1493 38.4172 19.8781 38.3612 19.6192 38.2426C18.6581 37.8018 18.2366 36.6656 18.6775 35.7046ZM20.4176 42.2169H44.6647C45.722 42.2169 46.5789 43.0738 46.5789 44.1311C46.5789 45.1884 45.722 46.0453 44.6647 46.0453H20.4176C19.3604 46.0453 18.5034 45.1884 18.5034 44.1311C18.5034 43.0738 19.3604 42.2169 20.4176 42.2169ZM20.4176 48.0587H36.4073C37.4641 48.0587 38.3215 48.9156 38.3215 49.9729C38.3215 51.0302 37.4641 51.8871 36.4073 51.8871H20.4176C19.3604 51.8871 18.5034 51.0302 18.5034 49.9729C18.5034 48.9156 19.3604 48.0587 20.4176 48.0587Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.advantages__practice:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='51' viewBox='0 0 65 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.3629 15.4584C60.1001 13.4825 60.063 10.0792 61.8983 8.93647C61.9311 8.91552 61.9555 8.88526 61.9842 8.85927C63.4847 8.37935 64.5231 7.70584 63.708 6.79955L41.5741 0.130371L5.73426 5.11324C5.73426 5.11324 1.63016 5.69985 1.99678 12.0761C2.19581 15.5465 3.28425 17.2508 4.23613 18.0896L1.29515 18.9759C0.478863 19.8822 1.51706 20.5559 3.01772 21.0351C3.04624 21.0618 3.07029 21.0919 3.10365 21.1129C4.93777 22.2566 4.90246 25.6595 4.63865 27.6358C-1.95039 29.5067 0.414848 30.1164 0.414848 30.1164L1.86022 30.4662C0.843552 31.3849 -0.166132 33.1271 0.0230017 36.4312C0.389825 42.8063 3.76087 43.2463 3.76087 43.2463L27.2143 50.8694L62.6143 42.295C62.6143 42.295 64.9803 41.6843 58.3895 39.8131C58.1246 37.8399 58.0877 34.4374 59.9261 33.2908C59.9598 33.2704 59.9845 33.2396 60.0118 33.214C61.5125 32.7341 62.5499 32.0611 61.7346 31.1548L60.1959 30.6902C61.2221 30.0714 62.7635 28.4542 63.005 24.2533C63.1716 21.3637 62.4178 19.6714 61.5453 18.6751L64.5865 17.9391C64.5867 17.9402 66.9528 17.3296 60.3629 15.4584ZM30.7529 15.3767L36.7059 14.1533L56.8235 10.0191L59.8208 9.40262C58.8631 11.1555 58.9032 13.5543 59.0617 15.0961C59.0964 15.4448 59.1364 15.7634 59.1752 16.0055L55.8945 16.8212L30.5027 23.1379L30.7529 15.3767ZM5.18141 21.5809L8.17826 22.1974L27.4984 26.1691L29.1863 26.5147L34.2479 27.5551L34.4976 35.3164L8.40018 28.8235L5.82738 28.1842C5.8652 27.9417 5.90516 27.6235 5.94144 27.2738C6.09895 25.7332 6.13988 23.3338 5.18141 21.5809ZM4.01712 11.7692C3.98085 10.0732 4.28307 8.84666 4.89393 8.22319C5.28267 7.82514 5.74144 7.74231 6.05608 7.74231C6.22233 7.74231 6.34202 7.76539 6.35016 7.76539L21.7926 12.7999L29.4971 15.3118L29.2443 23.1272L7.63026 17.0675L6.48964 16.748C6.44774 16.7362 6.3909 16.728 6.34706 16.7261C6.25802 16.7197 4.1211 16.523 4.01712 11.7692ZM27.2701 47.4834L4.51605 41.1041C4.47395 41.0919 4.4177 41.0837 4.37386 41.0816C4.28327 41.0756 2.14538 40.8791 2.04198 36.1265C2.00513 34.4283 2.3089 33.2029 2.91859 32.5789C3.30831 32.1808 3.76727 32.098 4.08133 32.098C4.24796 32.098 4.36726 32.1203 4.37599 32.1203C4.37599 32.1203 4.37696 32.1203 4.37599 32.1203L27.5213 39.6678L27.2701 47.4834ZM57.0864 39.4511C57.1222 39.8011 57.1622 40.119 57.201 40.3615L28.5279 47.4945L28.7785 39.7332L34.9086 38.4729L35.8139 38.6919L39.2071 37.5891L54.8482 34.375L57.8466 33.7581C56.8879 35.5107 56.9277 37.9105 57.0864 39.4511ZM58.6658 28.9033C58.6136 28.9044 58.5614 28.9114 58.5123 28.9269L56.3498 29.5324L35.7588 35.3061L35.507 27.4907L42.2627 25.2872L58.6208 19.9524C58.6229 19.9515 59.4813 19.7608 60.1113 20.4015C60.7212 21.025 61.0238 22.2515 60.9881 23.9475C60.8815 28.6998 58.7436 28.8972 58.6658 28.9033Z' fill='%23016BC1'/%3E%3C/svg%3E%0A");
}

.advantages__practice:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='51' viewBox='0 0 65 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.3629 15.4584C60.1001 13.4825 60.063 10.0792 61.8983 8.93647C61.9311 8.91552 61.9555 8.88526 61.9842 8.85927C63.4847 8.37935 64.5231 7.70584 63.708 6.79955L41.5741 0.130371L5.73426 5.11324C5.73426 5.11324 1.63016 5.69985 1.99678 12.0761C2.19581 15.5465 3.28425 17.2508 4.23613 18.0896L1.29515 18.9759C0.478863 19.8822 1.51706 20.5559 3.01772 21.0351C3.04624 21.0618 3.07029 21.0919 3.10365 21.1129C4.93777 22.2566 4.90246 25.6595 4.63865 27.6358C-1.95039 29.5067 0.414848 30.1164 0.414848 30.1164L1.86022 30.4662C0.843552 31.3849 -0.166132 33.1271 0.0230017 36.4312C0.389825 42.8063 3.76087 43.2463 3.76087 43.2463L27.2143 50.8694L62.6143 42.295C62.6143 42.295 64.9803 41.6843 58.3895 39.8131C58.1246 37.8399 58.0877 34.4374 59.9261 33.2908C59.9598 33.2704 59.9845 33.2396 60.0118 33.214C61.5125 32.7341 62.5499 32.0611 61.7346 31.1548L60.1959 30.6902C61.2221 30.0714 62.7635 28.4542 63.005 24.2533C63.1716 21.3637 62.4178 19.6714 61.5453 18.6751L64.5865 17.9391C64.5867 17.9402 66.9528 17.3296 60.3629 15.4584ZM30.7529 15.3767L36.7059 14.1533L56.8235 10.0191L59.8208 9.40262C58.8631 11.1555 58.9032 13.5543 59.0617 15.0961C59.0964 15.4448 59.1364 15.7634 59.1752 16.0055L55.8945 16.8212L30.5027 23.1379L30.7529 15.3767ZM5.18141 21.5809L8.17826 22.1974L27.4984 26.1691L29.1863 26.5147L34.2479 27.5551L34.4976 35.3164L8.40018 28.8235L5.82738 28.1842C5.8652 27.9417 5.90516 27.6235 5.94144 27.2738C6.09895 25.7332 6.13988 23.3338 5.18141 21.5809ZM4.01712 11.7692C3.98085 10.0732 4.28307 8.84666 4.89393 8.22319C5.28267 7.82514 5.74144 7.74231 6.05608 7.74231C6.22233 7.74231 6.34202 7.76539 6.35016 7.76539L21.7926 12.7999L29.4971 15.3118L29.2443 23.1272L7.63026 17.0675L6.48964 16.748C6.44774 16.7362 6.3909 16.728 6.34706 16.7261C6.25802 16.7197 4.1211 16.523 4.01712 11.7692ZM27.2701 47.4834L4.51605 41.1041C4.47395 41.0919 4.4177 41.0837 4.37386 41.0816C4.28327 41.0756 2.14538 40.8791 2.04198 36.1265C2.00513 34.4283 2.3089 33.2029 2.91859 32.5789C3.30831 32.1808 3.76727 32.098 4.08133 32.098C4.24796 32.098 4.36726 32.1203 4.37599 32.1203C4.37599 32.1203 4.37696 32.1203 4.37599 32.1203L27.5213 39.6678L27.2701 47.4834ZM57.0864 39.4511C57.1222 39.8011 57.1622 40.119 57.201 40.3615L28.5279 47.4945L28.7785 39.7332L34.9086 38.4729L35.8139 38.6919L39.2071 37.5891L54.8482 34.375L57.8466 33.7581C56.8879 35.5107 56.9277 37.9105 57.0864 39.4511ZM58.6658 28.9033C58.6136 28.9044 58.5614 28.9114 58.5123 28.9269L56.3498 29.5324L35.7588 35.3061L35.507 27.4907L42.2627 25.2872L58.6208 19.9524C58.6229 19.9515 59.4813 19.7608 60.1113 20.4015C60.7212 21.025 61.0238 22.2515 60.9881 23.9475C60.8815 28.6998 58.7436 28.8972 58.6658 28.9033Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.advantages__top-right a:before {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 0;
  width: 78px;
  height: 100%;
  border-right: 1px solid #EDEDED;
}

.advantages__top-right a:hover {
  background: linear-gradient(89.13deg, #374283 11.8%, #277CCF 102.74%);
  color: #ffffff;
}

.advantages__top-right a span {
  padding-left: 111px;
  padding-right: 30px;
  display: inline-block;
  padding-top: 3.25rem;
  padding-bottom: 3.1875rem;

  @include media(1460px) {
    padding-top: 3.8125rem;
    padding-bottom: 3.875rem;
  }
}

.advantages__bottom {

}

.advantages__bottom-title {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #1F1F1F;
  text-align: center;
  font-weight: 600;

  margin-bottom: 32px;

  @include media(1370px) {
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 70vw;
  }
}

.advantages__bottom-subtitle {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #4E4E4E;
  text-align: center;
  margin-bottom: 24px;

  @include media(1360px) {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 70vw;
  }
}

.advantages__list {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.advantages__list .swiper-wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include media(1360px) {
    justify-content: space-between;
  }
}

.advantages__item {
  color: #ffffff;
  margin-bottom: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  padding: 0 19px;
  padding-top: 80px;
  padding-bottom: 76px;
  border-radius: 5px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;

  @include tablet {
    max-width: 280px;
    padding-bottom: 24px;
    text-align: right;
  }

  @include media(1460px) {
    max-width: 334px;
  }
}

.advantages__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 22px;
  text-align: center;
}

.advantages__item-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;

  @include tablet {
    margin-bottom: 32px;
  }
}

.advantages__item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;

  @include tablet {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    display: inline-block;
    padding-right: 35px;
  }

  &::after {
    @include tablet {
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.02466 4L0.201976 1.17731C-0.0673508 0.907988 -0.0673508 0.471322 0.201976 0.201995C0.471303 -0.0673322 0.907969 -0.0673322 1.1773 0.201995L4.48764 3.51234C4.75697 3.78167 4.75697 4.21833 4.48764 4.48766L1.1773 7.798C0.907969 8.06733 0.471303 8.06733 0.201976 7.798C-0.0673508 7.52868 -0.0673508 7.09201 0.201976 6.82268L3.02466 4Z' fill='white'/%3E%3C/svg%3E%0A");
      position: absolute;
      content: "";
      width: 5px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }

  &:active,
  &:hover,
  &:focus {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }
}

.advantages__item-link span {
  display: none;

  @include tablet {
    display: block;
  }
}
