.blog__wrapper {
  padding-bottom: 20px;
  margin-top: 20px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    margin-top: 72px;
  }
}

.blog__main {/*Основной раздел с блогами*/
  width: 100%;

  @include desktop {

  }
}

.blog__block {
  padding-bottom: 32px;
  border-bottom: 1px solid #4E4E4E;
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 56px;
  }
}

.blog__title {
  font-size: 1.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0;
}

.blog__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 32px;
}

.blog__info .time-block {
  margin-right: 24px;
}

.blog__category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog__category-name {
  color: #4E4E4E;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding-left: 24px;
  margin-right: 16px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4E4E4E;
  }
}

.blog__category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.blog__catehory-item {
  margin-right: 10px;
}

.blog__catehory-item a {
  text-decoration: none;
  color: #016BC1;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
}

.blog__img {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 24px;
  max-height: 366px;
}

.blog__img img {
  width: 100%;
  height: auto;
}

.blog__short-text {
  font-size: 0.875rem;
  line-height: 1.875rem;
  margin-bottom: 24px;
}

.blog__link {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #016BC1;
  position: relative;
  padding-right: 15px;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78109 5L0.25273 1.47164C-0.0839291 1.13498 -0.0839291 0.589153 0.25273 0.252494C0.589389 -0.0841653 1.13522 -0.0841653 1.47188 0.252494L5.60981 4.39043C5.94647 4.72708 5.94647 5.27292 5.60981 5.60957L1.47188 9.74751C1.13522 10.0842 0.589389 10.0842 0.25273 9.74751C-0.0839291 9.41085 -0.0839291 8.86501 0.25273 8.52836L3.78109 5Z' fill='%23016BC1'/%3E%3C/svg%3E");
    width: 6px;
    height: 10px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.blog__pagination-list {/*Пагинация*/
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.blog__pagination-item {
  width: 42px;
  height: 42px;

  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  background-color: #ffffff;
}

.blog__pagination-item.active {
  background-color: #277CCF;
}

.blog__pagination-item.active a {
  color: #ffffff;
}

.blog__pagination-item a {
  position: relative;
  padding: 13px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4E4E4E;
  font-size: 0.875rem;
  line-height: 1rem;

}

.blog__pagination-item.page-prev a {
  font-size: 1.2rem;
  font-weight: 700;
}

.blog__pagination-item.page-middle a {
  font-size: 1.2rem;
  font-weight: 700;
}

.blog__pagination-item.page-next a {
  font-size: 1.2rem;
  font-weight: 700;
}

.blog__text-block {/*Стили для текстового блока статьи*/
  font-size: 0.875rem;
  line-height: 1.875rem;
}

.blog__text-block p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.blog__text-block h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 24px;
  margin-top: 24px;
}

.blog__text-block h4 {
  font-size: 1.125rem;
}

.blog__text-block img {
  //margin: 10px;
  max-width: 100%;
  height: auto;
}

.blog__text-block blockquote {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  position: relative;
  color: #4E4E4E;

  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #016BC1;
    top: 0;
    left: 0;
  }
}

.blog__tags-wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.blog__tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.blog__tags-item {
  margin-left: 4px;
}

.blog__tags-item a {
  text-decoration: none;
  color: #016BC1;
}

.blog__main {
  border-bottom: none;
}

.blog__prev-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  border-top: 1px solid #C4C4C4;
  padding-top: 15px;

  @include desktop {
    padding-top: 32px;
  }
}

.blog__prev,
.blog__next {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: #000000;
  font-size: 0.75rem;
  line-height: 0.875rem;
  max-width: 180px;
}

.blog__next {
  text-align: right;
}

.blog__prev-text {
  position: relative;
  padding-left: 20px;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.48522 6L6.69849 1.76597C7.1005 1.36198 7.1005 0.706982 6.69849 0.302991C6.29648 -0.100998 5.64469 -0.100998 5.24268 0.302991L0.301507 5.26851C-0.100503 5.6725 -0.100503 6.3275 0.301507 6.73149L5.24268 11.697C5.64469 12.101 6.29648 12.101 6.69849 11.697C7.1005 11.293 7.1005 10.638 6.69849 10.234L2.48522 6Z' fill='%234E4E4E'/%3E%3C/svg%3E%0A");
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.blog__next-text {
  position: relative;
  padding-right: 20px;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.51478 6L0.301507 10.234C-0.100502 10.638 -0.100502 11.293 0.301507 11.697C0.703518 12.101 1.35531 12.101 1.75732 11.697L6.69849 6.73149C7.1005 6.3275 7.1005 5.6725 6.69849 5.26851L1.75732 0.302993C1.35531 -0.100998 0.703518 -0.100998 0.301507 0.302993C-0.100502 0.706984 -0.100502 1.36198 0.301507 1.76597L4.51478 6Z' fill='%234E4E4E'/%3E%3C/svg%3E%0A");
    position: absolute;
    content: "";
    width: 7px;
    height: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.blog__prev-link,
.blog__next-link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 9px;
  color: #4D4D4D;
  display: none;

  @include tablet {
    display: block;
  }
}
