.corporate-clients {

}

.corporate-clients__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.corporate-clients__list .swiper-wrapper {
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media(1360px) {
    justify-content: flex-start;
  }
}

.corporate-clients__item {
  box-sizing: border-box;

  @include tablet {
    max-width: 334px;
    margin: 5px;
  }

  @include media(1360px) {
    max-width: 290px;
    margin: 5px;
  }

  @include media(1460px) {
    max-width: 334px;
    margin: 0;
    margin-bottom: 16px;
    margin-right: 31px;
  }
}

.corporate-clients__item:nth-child(4n) {
  @include media(1460px) {
    margin-right: 0;
  }
}

.corporate-clients__item a {
  max-width: 334px;
  display: block;
  margin: 0 auto;
}

.corporate-clients__item img {
  max-width: 100%;
  height: auto;
}
