.header-top {
  background-color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    justify-content: space-between;
  }
}

.header-top a {
  text-decoration: none;
  color: #000000;
}

.header-top__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header-top__left span {
  font-weight: 500;
  max-width: 180px;
  margin: 0 10px;
  text-align: center;

  @include tablet {
    font-size: 1.125rem;
    margin-left: 50px;
    margin-right: 0;
    text-align: left;
  }
}

.header-top__right {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-top__phone-email {
  display: flex;
  flex-flow: column;
  padding-left: 60px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 33px;
    height: 33px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.9298 25.5705C32.8365 25.2892 32.2426 24.8749 31.1486 24.3285C30.8522 24.1562 30.4299 23.9222 29.8835 23.6253C29.3366 23.3283 28.8402 23.0547 28.3951 22.8046C27.9492 22.5547 27.5314 22.3125 27.141 22.0784C27.0787 22.0315 26.8834 21.895 26.5552 21.6679C26.2268 21.4415 25.9498 21.2735 25.7228 21.1639C25.4963 21.0549 25.2735 21.0001 25.0547 21.0001C24.7422 21.0001 24.352 21.2229 23.8834 21.6679C23.4148 22.1136 22.9849 22.5976 22.5945 23.1215C22.2039 23.6452 21.7898 24.1292 21.3527 24.5746C20.915 25.0201 20.5553 25.2427 20.2744 25.2427C20.1334 25.2427 19.9575 25.2034 19.7468 25.1258C19.5361 25.0477 19.3759 24.9808 19.2659 24.9269C19.1568 24.8718 18.9697 24.7628 18.7039 24.5982C18.4376 24.4341 18.2895 24.3442 18.2583 24.3285C16.1177 23.1406 14.2818 21.7812 12.7503 20.2503C11.2193 18.7186 9.85967 16.8829 8.67217 14.742C8.65657 14.7107 8.56651 14.5622 8.40257 14.2967C8.23838 14.031 8.12895 13.8437 8.07427 13.7341C8.0196 13.6248 7.95318 13.4645 7.87519 13.2536C7.7972 13.0427 7.75804 12.8671 7.75804 12.7263C7.75804 12.4452 7.98077 12.0856 8.42613 11.648C8.87142 11.2107 9.35594 10.7965 9.87921 10.4061C10.4029 10.0157 10.8869 9.58589 11.3324 9.11729C11.7777 8.64845 12.0003 8.258 12.0003 7.94555C12.0003 7.72693 11.9456 7.50404 11.8364 7.27754C11.727 7.05055 11.559 6.77356 11.3324 6.44527C11.1056 6.11713 10.9689 5.92199 10.922 5.85919C10.6878 5.46883 10.4459 5.05089 10.1956 4.60552C9.9453 4.16024 9.67209 3.66389 9.37507 3.11706C9.07829 2.57047 8.84408 2.14842 8.67201 1.85157C8.12542 0.757982 7.71141 0.163943 7.43008 0.0705195C7.32064 0.0236433 7.15645 0 6.93792 0C6.51579 0 5.96509 0.0779901 5.28543 0.234463C4.60552 0.390689 4.07051 0.554551 3.67982 0.726704C2.89852 1.05467 2.07043 2.00779 1.1953 3.58574C0.398406 5.05425 0 6.50774 0 7.94514C0 8.3667 0.0273376 8.77684 0.0820127 9.17566C0.136688 9.57406 0.234381 10.0234 0.375173 10.5235C0.51572 11.0234 0.629093 11.3948 0.7148 11.6367C0.800589 11.8787 0.960756 12.3123 1.19522 12.9375C1.42935 13.5626 1.57015 13.9452 1.61702 14.0858C2.16386 15.6172 2.81232 16.9844 3.56226 18.1876C4.79614 20.1876 6.47999 22.2545 8.61282 24.3875C10.7457 26.5203 12.8122 28.2041 14.8124 29.4385C16.0155 30.1883 17.3831 30.8367 18.9142 31.384C19.055 31.4306 19.4376 31.571 20.0624 31.806C20.6875 32.0403 21.1212 32.2005 21.3632 32.2864C21.6053 32.3725 21.9768 32.4859 22.4763 32.6267C22.9769 32.7675 23.4258 32.8652 23.8242 32.9203C24.2229 32.9742 24.6331 33.002 25.0548 33.002C26.4921 33.002 27.9457 32.6034 29.4144 31.8066C30.9922 30.9318 31.9451 30.1035 32.2732 29.3216C32.4458 28.9314 32.6092 28.3962 32.7654 27.7163C32.9222 27.0367 33 26.4861 33 26.064C33.0005 25.8446 32.9769 25.6808 32.9298 25.5705Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.0509' y1='50.528' x2='34.2768' y2='50.3073' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.46875' stop-color='%23374283'/%3E%3Cstop offset='1' stop-color='%23277CCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header-top__phone  {
  font-size: 1.125rem;
}

.header-top__email {

}

.header-top__right address {
  max-width: 200px;
  padding-left: 60px;
  line-height: 17px;
  position: relative;

  @include desktop {
    margin-left: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 33px;
    height: 33px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5682 25.0874C24.2474 25.0483 23.9581 25.2782 23.9207 25.5984C23.8834 25.9187 24.1121 26.2086 24.4317 26.2459C30.5661 26.9681 33.8333 28.9141 33.8333 30.0417C33.8333 31.6248 27.6197 33.8333 17.5 33.8333C7.38033 33.8333 1.16667 31.6248 1.16667 30.0417C1.16667 28.9141 4.43392 26.9681 10.5682 26.2459C10.8879 26.2086 11.1166 25.9181 11.0792 25.5984C11.0413 25.2782 10.752 25.0472 10.4317 25.0874C4.28983 25.8107 0 27.8477 0 30.0417C0 32.5057 6.01125 35 17.5 35C28.9887 35 35 32.5057 35 30.0417C35 27.8477 30.7102 25.8107 24.5682 25.0874Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M17.3966 31.9416L26.3455 19.0167C29.702 14.5419 29.2167 7.18667 25.3066 3.27717C23.1937 1.16375 20.3844 0 17.3966 0C14.4087 0 11.5994 1.16375 9.48657 3.27658C5.57648 7.18608 5.09115 14.5413 8.43423 18.9986L17.3966 31.9416ZM17.4998 7C19.7515 7 21.5832 8.83225 21.5832 11.0833C21.5832 13.3344 19.7515 15.1667 17.4998 15.1667C15.2482 15.1667 13.4165 13.3344 13.4165 11.0833C13.4165 8.83225 15.2482 7 17.4998 7Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.29641' y1='40.2665' x2='36.3346' y2='39.4409' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23374283'/%3E%3Cstop offset='1' stop-color='%23277CCF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='8.9561' y1='48.9043' x2='29.447' y2='48.7995' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23374283'/%3E%3Cstop offset='1' stop-color='%23277CCF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}
