.header-bottom {
  background: url("../img/mask-index-header.svg") left 50% bottom -1px / 102% no-repeat, url("../img/bg-header.jpg") left 50% top 50% / cover no-repeat;
  padding-top: 25px;
  padding-bottom: 25px;

  @include tablet {
    background: url("../img/mask-index-header.svg") left 50% bottom -1px / 102% no-repeat, url("../img/bg-header.jpg") left 50% top 50% / cover no-repeat;
  }

  @include desktop {
    padding-bottom: 260px;
  }
}

.header-bottom__wrapper {
  @include desktop {
    display: flex;
    padding: 0 100px;
    padding-right: 0;
    margin-top: 60px;
  }
}

.header-bottom__left {
  color: #ffffff;

  @include desktop {
    margin-right: 60px;
    margin-top: 30px;
  }
}

.header-bottom__title {
  font-family: $Montserrat;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2.8125rem;
  line-height: 3.4375rem;
  margin-bottom: 20px;

  @include desktop {
    font-size: 3.75rem;
    line-height: 4.5625rem;
  }
}

.header-bottom__title span {
  font-weight: 500;
}

.header-bottom__description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;

  @include desktop {
    position: relative;
  }

  &:before {
    @include desktop {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.375 33.9844C14.5444 33.9844 18.75 29.7788 18.75 24.6094C18.75 22.1374 17.7963 19.8049 16.0645 18.0415C14.3366 16.282 12.0287 15.286 9.56539 15.2368L9.49383 15.235C8.63023 15.209 7.91367 15.8937 7.89117 16.7563C7.86867 17.619 8.54985 18.3365 9.4125 18.359L9.49899 18.3612C12.8769 18.4265 15.625 21.2296 15.625 24.6094C15.625 28.0556 12.8212 30.8594 9.375 30.8594C5.92875 30.8594 3.125 28.0556 3.125 24.6094C3.125 20.3048 4.14875 16.3328 6.16805 12.8035C7.67719 10.1656 9.21188 8.77227 9.24055 8.74649C9.88414 8.17516 9.94461 7.19016 9.37477 6.5443C9.06594 6.19438 8.63524 6.01555 8.2025 6.01555C7.83524 6.01563 7.46641 6.14438 7.16938 6.40649C7.09383 6.47321 5.29859 8.07438 3.53141 11.1202C1.92031 13.8967 -5.5287e-07 18.4909 -1.08776e-06 24.6094C-1.53969e-06 29.7788 4.20562 33.9844 9.375 33.9844Z' fill='white'/%3E%3Cpath d='M30.625 33.9844C35.7944 33.9844 40 29.7788 40 24.6094C40 22.1374 39.0463 19.8049 37.3145 18.0413C35.5866 16.2819 33.2787 15.2859 30.8154 15.2366L30.7438 15.2348C29.8821 15.2088 29.1636 15.8935 29.1412 16.7562C29.1187 17.6188 29.7998 18.3363 30.6625 18.3588L30.749 18.361C34.1269 18.4265 36.875 21.2296 36.875 24.6094C36.875 28.0556 34.0712 30.8594 30.625 30.8594C27.1787 30.8594 24.375 28.0556 24.375 24.6094C24.375 20.3048 25.3988 16.3328 27.418 12.8036C28.9272 10.1657 30.4619 8.77235 30.4905 8.74656C31.1342 8.17516 31.1946 7.19024 30.6248 6.54438C30.3159 6.19438 29.8852 6.01563 29.4525 6.01563C29.0852 6.01563 28.7164 6.14438 28.4193 6.40649C28.3438 6.4732 26.5485 8.07438 24.7813 11.1202C23.1703 13.8967 21.25 18.4909 21.25 24.6094C21.25 29.7788 25.4556 33.9844 30.625 33.9844Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='40' fill='white' transform='translate(40 40) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      top: 0;
      left: -70px;
    }
  }
}

.header-bottom__right {
  @include desktop {
    min-width: 430px;
  }
}

.header-bottom__form {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.header-bottom__form-title {
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  color: #4E4E4E;
}

.header-bottom__form label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.header-bottom__form input,
.header-bottom__form select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #D3D8DD;
  padding: 8px 0;
  font-size: 0.875rem;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border-color: darken(#D3D8DD, 20%);
  }
}

.header-bottom__form select {
  color: #999EA3;
}

.header-bottom__form input::placeholder {
  color: #999EA3;
}

.header-bottom__form button {
  width: 100%;
  margin-top: 50px;
}
