.text-block {
  max-width: 1005px;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.875rem;
  padding: 0 30px;

  @include desktop {
    margin-top: 100px;
  }
}

.text-block p {
  @include desktop {
    margin: 24px 0;
  }
}

.text-block h2,
.text-block h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-left: -30px;
  position: relative;
  padding-top: 16px;

  @include desktop {
    margin-bottom: 32px;
    margin-top: 32px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background-color: #016BC1;
    top: 0;
    max-width: 212px;
  }
}
