doctype html
html(lang="ru")
  head
    block head
      meta( charset='UTF-8' )
      meta( name='viewport', content='width=device-width, initial-scale=1' )
      block script
      link(rel='stylesheet', href='/css/swiper.min.css', type='text/css')
      link(rel='stylesheet', href='/css/style.css', type='text/css')
      title Школа инстранных языков
  body
    header
      div.header-top.wrapper
        a(href='index.html').header-top__left
          img(src='img/logo.svg')
          span Языковой центр в Ростове-на-Дону
        div.header-top__right
          div.header-top__phone-email
            a(href='tel:899999991199').header-top__phone +7 (999) 9991199
            a(href='mailto:info@expresslingua.ru').header-top__email info@expresslingua.ru
          address ул. Текучева, д. 139 В оф. 203 (2 этаж)
      div.header-bottom
        //- Вставка навигации
        include ../modules/header-nav.pug
        div.header-bottom__wrapper.wrapper
          div.header-bottom__left
            div.header-bottom__title IMPROVE YOUR
              span  LANGUAGE #{' '}
              | SKILLS
            div.header-bottom__description Наш языковой центр предоставляет услуги группового и индивидуального обучения английскому языку, а также другим современным языкам для любого возраста и уровня знаний.
          div.header-bottom__right
            form.header-bottom__form
              div.header-bottom__form-title Запишись на бесплатное занятие
              label
                input(type="text" placeholder="Ваше имя")
              label
                input(type="text" placeholder="Телефон")
              label
                input(type="email" placeholder="E-mail")
              button(type="submit") Отправить заявку
    main
      //- Раздел обучение языкам ****************
      section.learning
        h1.section-title
          span.section-title__icon
          span.section-title__text Обучение языкам
        //- Список курсов и слайдер
        div.learning__list.wrapper.swiper-container.learning__list--swiper
          div.swiper-wrapper
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-english-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Курсы Английского языка
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Английский для взрослых
                li.learning__courses-item
                  a(href="#") Английский для студентов
                li.learning__courses-item
                  a(href="#") Детские курсы английского
                li.learning__courses-item
                  a(href="#") Подготовка к экзаменам
              a(href="#").learning__courses-link-more Подробнее
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-german-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Курсы Немецкого языка
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Немецкий для взрослых
                li.learning__courses-item
                  a(href="#") Немецкий для студентов
                li.learning__courses-item
                  a(href="#") Детские курсы немецкого
                li.learning__courses-item
                  a(href="#") Подготовка к экзаменам
              a(href="#").learning__courses-link-more Подробнее
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-franch-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Курсы Французского языка
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Французский для взрослых
                li.learning__courses-item
                  a(href="#") Французский для студентов
                li.learning__courses-item
                  a(href="#") Детские курсы французского
                li.learning__courses-item
                  a(href="#") Подготовка к экзаменам
              a(href="#").learning__courses-link-more Подробнее
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-spanish-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Курсы Испанского языка
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Испанский для взрослых
                li.learning__courses-item
                  a(href="#") Испанский для студентов
                li.learning__courses-item
                  a(href="#") Детские курсы испанского
                li.learning__courses-item
                  a(href="#") Подготовка к экзаменам
              a(href="#").learning__courses-link-more Подробнее
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-china-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Курсы Китайского языка
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Китайский для взрослых
                li.learning__courses-item
                  a(href="#") Китайский для студентов
                li.learning__courses-item
                  a(href="#") Детские курсы Китайского
                li.learning__courses-item
                  a(href="#") Подготовка к экзаменам
              a(href="#").learning__courses-link-more Подробнее
            //- Блок курса и слайд
            article(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-russian-block.jpg')").learning__item.swiper-slide
              h3.learning__item-title Русский как инстранный
              ul.learning__courses-list
                li.learning__courses-item
                  a(href="#") Русский для взрослых
                li.learning__courses-item
                  a(href="#") Русский для детей
              a(href="#").learning__courses-link-more Подробнее
          //- Пагинация сладера
          div.swiper-pagination
      //- Раздел Коммуникативная методика **************
      section.advantages
        div.wrapper
          div.advantages__top
            div.advantages__top-left
              h2.advantages__title Коммуникативная методика
              div.advantages__sub-title Разговорная практика с первых занятий!
              div.advantages__top-description Методика лучше всего развивает навыки разговорной речи, общения, аудирования, не забывая при это про чтение, письмо и грамматику. Проведение занятий происходит полностью на изучаемом языке без использования родного языка. Специфической особенностью коммуникативного метода является попытка приблизить процесс обучения по его характеру к процессу реальной коммуникации.
              div.advantages__top-description
                b Мы уделяем большое внимание мотивации к общению и создаем все условия, чтобы взаимодействие учащихся было целенаправленным.
            div.advantages__top-right
              a(href="#").advantages__expert
                span Дипломированные специалисты
              a(href="#").advantages__schedule
                span Удобный график занятий
              a(href="#").advantages__exams
                span Подготовка к экзаменам
              a(href="#").advantages__practice
                span Постоянная практика
          div.advantages__bottom
            div.advantages__bottom-title Наша цель - сделать обучение языкам для всех учеников простым и интересным, открывая увлекательный мир общения без языковых барьеров.
            div.advantages__bottom-subtitle Уроки в наших центрах проходят всегда интенсивно и увлекательно. Каждое занятие - насыщенное и непременно полезное для наших учеников.
            div.advantages__list.swiper-container.advantages--swiper
              div.swiper-wrapper
                div(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-adv1.jpg')").advantages__item.swiper-slide
                  div.advantages__item-title Выберите курс
                  div.advantages__item-text Подберите для себя подходящий и эффективный курс сами
                  a(href="#").advantages__item-link
                    span Подробнее
                div(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-adv2.jpg')").advantages__item.swiper-slide
                  div.advantages__item-title Выберите курс
                  div.advantages__item-text Подберите для себя подходящий и эффективный курс сами
                  a(href="#").advantages__item-link
                    span Подробнее
                div(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-adv3.jpg')").advantages__item.swiper-slide
                  div.advantages__item-title Выберите курс
                  div.advantages__item-text Подберите для себя подходящий и эффективный курс сами
                  a(href="#").advantages__item-link
                    span Подробнее
                div(style="background-image: linear-gradient(89.68deg, rgba(55, 66, 131, 0.7), rgba(39, 124, 207, 0.7)), url('img/bg-adv4.jpg')").advantages__item.swiper-slide
                  div.advantages__item-title Выберите курс
                  div.advantages__item-text Подберите для себя подходящий и эффективный курс сами
                  a(href="#").advantages__item-link
                    span Подробнее
              div.swiper-pagination
      section.reviews
        h2.section-title
          span.section-title__icon
          span.section-title__text Отзывы учеников
        div.wrapper
          div.reviews__list.swiper-container.reviews--swiper
            div.swiper-wrapper
              div.reviews__item.swiper-slide
                div.reviews__item-img-block
                  img(src="img/bg-adv4.jpg")
                div.reviews__item-title Анастасия
                div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
                a(href="#").reviews__link Подробнее
              div.reviews__item.swiper-slide
                div.reviews__item-img-block
                  img(src="img/img-review.jpg")
                div.reviews__item-title Анастасия
                div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
                a(href="#").reviews__link Подробнее
              div.reviews__item.swiper-slide
                div.reviews__item-img-block
                  img(src="img/img-review.jpg")
                div.reviews__item-title Анастасия
                div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
                a(href="#").reviews__link Подробнее
            div.swiper-pagination
          div.reviews__more.button-more
            a(href="#") Показать еще
      section.sign-up
        div.wrapper
          div.sign-up__appeal LET’S GET started
          h2.sign-up__title Начни учить иностранный язык вместе с нами!
          a.sign-up__open-form Записаться
          form.sign-up__form
            label
              input(type="text" placeholder="Ваше имя")
            label
              input(type="text" placeholder="Телефон")
            button(type="submit").sign-up__open-form Записаться
      section.last-news
        h2.section-title
          span.section-title__icon
          span.section-title__text Последние публикации
        div.wrapper
          div.last-news__left
            //- Новость
            article.last-news__block
              div.last-news__img-block
                img(src="img/img-news1.jpg")
              div.last-news__text-block
                h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
                div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.last-news__block-bottom
                  time(datetime="2019-10-15") Октябрь 15, 2019
                  a(href="#").last-news__block-link
                    span Подробнее
          div.last-news__right
            //- Новость
            article.last-news__block
              div.last-news__img-block
                img(src="img/img-news1.jpg")
              div.last-news__text-block
                h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
                div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.last-news__block-bottom
                  time(datetime="2019-10-15") Октябрь 15, 2019
                  a(href="#").last-news__block-link
                    span Подробнее
            //- Новость
            article.last-news__block
              div.last-news__img-block
                img(src="img/img-news2.jpg")
              div.last-news__text-block
                h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
                div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.last-news__block-bottom
                  time(datetime="2019-10-15") Октябрь 15, 2019
                  a(href="#").last-news__block-link
                    span Подробнее
        div.last-news__more.button-more
          a(href="#") Все новости
  footer
  script( src="js/libs/jquery-3.4.1.min.js")
  script( src="js/libs/swiper.min.js")
  script( src="js/script.js")
