extends pages/base.pug

block content
  div.breadcrumbs.wrapper
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="#") Главная
      li.breadcrumbs__item
        a Контакты
  main
    //- Контакты
    include modules/contacts

