extends pages/base.pug

block content
  div.breadcrumbs.wrapper
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="#") Главная
      li.breadcrumbs__item
        a Контакты
  main
    section.contacts.wrapper
      h1.section-title.section-long-title
        span.section-title__icon
        span.section-title__text Адрес языкового центра Express Lingua
      div.contacts__wrapper
        div.contacts__left
          div.contacts__block
            div.contacts__name Адрес:
            div.contacts__body
              address г. Pостов-на-Дону, ул. Текучева, д. 139В, оф. 203
          div.contacts__block
            div.contacts__name Телефон:
            div.contacts__body
              a(href="tel:+7 (952) 587-91-55") +7 (952) 587-91-55
          div.contacts__block
            div.contacts__name Электронная почта:
            div.contacts__body
              a(href="mailto:info@expresslingua.ru") info@expresslingua.ru
              a(href="mailto:kotovak25@mail.ru") kotovak25@mail.ru
          div.contacts__block
            div.contacts__name Время работы:
            div.contacts__body
              span Пн - Пт с 7:30 до 21:00.
              span Сб с 8:00 до 17:00
              span Вс с 10:00 до 15:00
              span Звонки принимаются по будням — с 10:00 до 21:00, в выходные с 9:00 до 19:00
        div.contacts__right
          div.contacts__map#map

