doctype html
html(lang="ru")
  head
    meta( charset='UTF-8' )
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    title Школа инстранных языков
  body
    header
      div.header-top
        div.header-top__left
          a(href='index.html'): img(src='img/logo.svg')
          a(href='index.html') Языковой центр в Ростове-на-Дону
        div.header-top__right
          div.header-top__phone-email
            a(href='tel:899999991199') +7 (999) 9991199
            a(href='mailto:info@expresslingua.ru') info@expresslingua.ru
          address ул. Текучева, д. 139 В оф. 203 (2 этаж)
      div.header-bottom
        nav.header__nav
          ul.header__nav-list
            li.header__nav-item
              a(href="#") О центре
              ul
                li
                  a(href="#") О центре
                li
                  a(href="#") Отзывы
                li
                  a(href="#") Сертификаты
                li
                  a(href="#") Новостной блог
                li
                  a(href="#") Вопросы и ответы
            li.header__nav-item
              a(href="#") Выбрать язык
              ul
                li
                  a(href="#") Английский язык
                li
                  a(href="#") Немецкий язык
                li
                  a(href="#") Франуцузский язык
                li
                  a(href="#") Испанский язык
                li
                  a(href="#") Вопросы и ответы
            li.header__nav-item
              a(href="#") Курсы программы
            li.header__nav-item
              a(href="#") Расписание и цены
            li.header__nav-item
              a(href="#") Клубы
            li.header__nav-item
              a(href="#") Контакты

