section.corporate-clients
  h2.section-title
    span.section-title__icon
    span.section-title__text Корпоративные клиенты
  div.wrapper
    div.corporate-clients__list.swiper-container.corporate-swiper
      div.swiper-wrapper
        div.corporate-clients__item.swiper-slide
          a(href="#")
            img(src="img/img-client.jpg" width=334 height=160)
        div.corporate-clients__item.swiper-slide
          a(href="#")
            img(src="img/img-client.jpg" width=334 height=160)
        div.corporate-clients__item.swiper-slide
          a(href="#")
            img(src="img/img-client.jpg" width=334 height=160)
        div.corporate-clients__item.swiper-slide
          a(href="#")
            img(src="img/img-client.jpg" width=334 height=160)
        div.corporate-clients__item.swiper-slide
          a(href="#")
            img(src="img/img-client.jpg" width=334 height=160)
      div.swiper-pagination
