nav.header__nav.header__nav-wrapper
  button(type='button').header__nav-button
    span
    span
    span
  ul.header__nav-list
    li.header__nav-item
      a(href="#") О центре
      ul
        li
          a(href="#") О центре
        li
          a(href="#") Отзывы
        li
          a(href="#") Сертификаты
        li
          a(href="#") Новостной блог
        li
          a(href="#") Вопросы и ответы
    li.header__nav-item
      a(href="#") Выбрать язык
      ul
        li
          a(href="#") Английский язык
        li
          a(href="#") Немецкий язык
        li
          a(href="#") Франуцузский язык
        li
          a(href="#") Испанский язык
        li
          a(href="#") Китайский язык
        li
          a(href="#") Русский как иностранный
    li.header__nav-item
      a(href="#") Курсы и программы
      ul
        li
          a(href="#") Классический курс
        li
          a(href="#") Подготовка к собеседованию
        li
          a(href="#") Подготовка к экзаменам
        li
          a(href="#") Интенсивный курс для иммиграции
        li
          a(href="#") Travel Course
        li
          a(href="#") Buisness Course
        li
          a(href="#") English Art class
    li.header__nav-item
      a(href="#") Расписание и цены
    li.header__nav-item
      a(href="#") Клубы
      ul
        li
          a(href="#") Video Club
        li
          a(href="#") Grammar Club
        li
          a(href="#") Speaking Club
        li
          a(href="#") Buisness breakfast
    li.header__nav-item
      a(href="#") Контакты
