section.last-news
  h2.section-title
    span.section-title__icon
    span.section-title__text Последние публикации
  div.wrapper
    div.last-news__left
      //- Новость
      article.last-news__block
        div.last-news__img-block
          img(src="img/img-news1.jpg")
        div.last-news__text-block
          h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
          div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div.last-news__block-bottom
            time(datetime="2019-10-15").time-block Октябрь 15, 2019
            a(href="#").last-news__block-link
              span Подробнее
    div.last-news__right
      //- Новость
      article.last-news__block
        div.last-news__img-block
          img(src="img/img-news1.jpg")
        div.last-news__text-block
          h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
          div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div.last-news__block-bottom
            time(datetime="2019-10-15").time-block Октябрь 15, 2019
            a(href="#").last-news__block-link
              span Подробнее
      //- Новость
      article.last-news__block
        div.last-news__img-block
          img(src="img/img-news2.jpg")
        div.last-news__text-block
          h3.last-news__title Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit
          div.last-news__text Lorem ipsum dolor sit amet, consectetur sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div.last-news__block-bottom
            time(datetime="2019-10-15").time-block Октябрь 15, 2019
            a(href="#").last-news__block-link
              span Подробнее
  div.last-news__more
    a(href="#").blue-button Все новости
