div.modal__reviews#modal-reviews
  div.modal__reviews-block
    div.modal__reviews-img
      img(src="img/img-review.jpg" width=489 height=456)
    div.modal__reviews-info
      div.modal__reviews-title Анастасия Приходько
      div.modal__reviews-description
        div
          span Курс:
          span Базовый курс по Английскому языку
        div
          span Академические часы:
          span 224 часа
      div.modal__reviews-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
      a(data-fancybox data-src="#modal-reviews" href="javascript:;").blue-button Видео отзыв
