section.reviews
  h2.section-title
    span.section-title__icon
    span.section-title__text Отзывы учеников
  div.wrapper
    div.reviews__list.swiper-container.reviews--swiper
      div.swiper-wrapper
        div.reviews__item.swiper-slide
          div.reviews__item-img-block
            img(src="img/bg-adv4.jpg")
          div.reviews__item-title Анастасия
          div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
          a(data-fancybox data-src="#modal-reviews" href="javascript:;").reviews__link Подробнее
        div.reviews__item.swiper-slide
          div.reviews__item-img-block
            img(src="img/img-review.jpg")
          div.reviews__item-title Анастасия
          div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
          a(data-fancybox data-src="#modal-reviews" href="javascript:;").reviews__link Подробнее
        div.reviews__item.swiper-slide
          div.reviews__item-img-block
            img(src="img/img-review.jpg")
          div.reviews__item-title Анастасия
          div.reviews__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis...
          a(data-fancybox data-src="#modal-reviews" href="javascript:;").reviews__link Подробнее
      div.swiper-pagination
    div.reviews__more
      a(href="#").blue-button Показать еще
