section.sign-up
  div.wrapper
    div.sign-up__appeal LET’S GET started
    h2.sign-up__title Начни учить иностранный язык вместе с нами!
    a.sign-up__open-form Записаться
    form.sign-up__form
      label
        input(type="text" placeholder="Ваше имя")
      label
        input(type="text" placeholder="Телефон")
      button(type="submit").sign-up__open-form Записаться
